* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;
    font-family: 'Martian Mono', monospace;
    color: #262626;
    transition: background-color 0.2s ease, color 0.2s ease, font-size 0.2s ease;
}

.calculator {
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
}

.lightDarkContainer {
    background-color: #ededed;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    transition: background-color 0.2s ease, color 0.2s ease, font-size 0.2s ease;
}

#clear {
    background-color: #dedbda;
}

#dotButton {
    background-color: #dedbda;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dedbda;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* Styles for the slider thumb when it's checked (active) */
input:checked + .slider:before {
    background-color: #474747;
    transform: translateX(26px);
}
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }


.input {
    width: 100%;
    flex: 1;
    background-color: #ededed;
    color: #262626;
    padding: 15px;
    text-align: right;
    word-break: break-all;
    font-size: 2rem;
    transition: background-color 0.2s ease;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow-x: auto;
}

.buttons {
    width: 100%;
    flex: 5;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    padding: 10px;
    font-size: 1.5rem;
    transition: background-color 0.2s ease;
}

.sideButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

#backspace {
    width: 100%;
    background-color: #dedbda;
    height: 100px;
    width: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 100;
}

.equal {
    background-color:#4a73f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100px;
    border-radius: 60px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
}

.operators {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: space-around;
    align-items: center;
}

.numbersAndEquals {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    font-weight: 100;
}

.operators div {
    background-color: #dedbda;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 100;
}

.operators div:hover, .numbers div:hover, .equal:hover, #backspace:hover {
  font-weight: 300;
}


.allNums {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.numbers {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    justify-content: space-around;
    align-items: center;
}

.numbers div {
    background-color: white;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 100;
}

.numbers div:active, .operators div:active, .equal:active, #backspace:active {
    transform: translateY(4px);
}
  
  body.dark-mode {
    background-color: #0a0a0a;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
  }

  .buttons.dark-mode {
    background-color: #2e2e2e;
    transition: background-color 0.2s ease, color 0.2s ease, font-size 0.2s ease;
  }

  .numbers div.dark-mode {
    background-color: #141414;
    color: #f5f5f5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .input.dark-mode {
    background-color: #2e2e2e;
    transition: background-color 0.2s ease, color 0.2s ease, font-size 0.2s ease;
    color: white;
  }

  .lightDarkContainer.dark-mode {
    background-color: #2e2e2e;
    transition: background-color 0.2s ease, color 0.2s ease, font-size 0.2s ease;
  }

  .operators div.dark-mode {
    background-color: #474747;
    color: #f5f5f5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  }

  #dotButton.dark-mode {
    background-color: #474747;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  #backspace.dark-mode {
    background-color: #474747;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #f5f5f5;
  }

  #clear.dark-mode {
    background-color: #474747;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .equal.dark-mode {
    color: #f5f5f5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

